<nav class="navbar navbar-expand navbar-dark bg-dark" style="margin-bottom: 30px;">
  <div class="container">
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a routerLink="films" class="nav-item nav-link">Films</a>
        <a routerLink="carte" class="nav-item nav-link">Carte</a>
        <a routerLink="mon-compte" class="nav-item nav-link">Mon compte</a>
        <a routerLink="panier" class="nav-item nav-link">Mon panier</a>
        <a routerLink="mes-commandes" class="nav-item nav-link">Mes commandes</a>
      </div>
      <div class="navbar-nav ml-auto">
        <a routerLink="" (click)="deco()" class="nav-item nav-link" href="" data-target="#myModal" data-toggle="modal">Déconnexion</a>
      </div>
    </div>
  </div>
</nav>
