<header class="jumbotron jumbotron-fluid" style="margin-bottom:0px;">
  <div class="container">
    <h1>MenuCinéma.com</h1>
    <h2>Votre soirée cinéma à portée de clic !</h2>
  </div>
</header>

<app-navbar *ngIf="nav.visible"></app-navbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="jumbotron jumbotron-fluid" style="margin-bottom: 0px; margin-top: 90px;">
  <div class="container" style="text-align:center;">
    <h4>&copy;Groupe 16, 2020</h4>
    <ul class="list-unstyled">
      <li>Zakari Abdou Mahamadou</li>
      <li>Robin Chappuis</li>
      <li>Bruno Disson</li>
      <li>Julien Dufourt</li>
      <li>Rayhana El Aouadi </li>
      <li>Mathis Vigne</li>
    </ul>
  </div>
</footer>